@import "~bootstrap/scss/bootstrap";
@import './variables.module.scss';

html,
body {
  padding: 0;
  margin: 0;
  font-family: $textFamily;
  background-color: $backgroundColor;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headerFamily;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  color: $textColor;
  box-sizing: border-box;
}
