@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

$backgroundColor: #0d0d0d;
$textColor: #a9b4bf;
$secondaryColor: #1e252f;

$headerFamily: 'Arvo', serif;
$textFamily: 'Lato', sans-serif;

:export {
    backgroundColor: $backgroundColor;
    textColor: $textColor;
    secondaryColor: $secondaryColor;
}